.submitBtn.btn-orange {
	padding: 8px 30px;
}
.butonGroupfield {
	.btn-group {
		width: 100%;
	}
	.btn-check {
		&:focus+.btn {
			box-shadow: inherit;
			background-color: #F56735;
			border-color: #F56735;
			color: #fff;
		}
	}
	.btn {
		&:focus {
			box-shadow: inherit;
			background-color: #F56735;
			border-color: #F56735;
			color: #fff;
		}
	}
	.btn.active {
		box-shadow: inherit;
		background-color: #F56735;
		border-color: #F56735;
		color: #fff;
	}
}
button.leftBtn.btn.btn-orange {
	border-right: 1px solid #d2d2d2;
	margin-right: 1px;
}
@media (min-width: 575px) {
	.formBody {
		padding: 30px;
	}
}
