.table-borderless
{

}
.table>:not(:first-child) {
    border-top: 1px solid currentColor;
}
.table.table-borderless
{
	thead {
		vertical-align: bottom;
		border-bottom: 1px solid #ccc;
		th 
		{
			&:first-child 
			{
				padding-left: 20px !important;
			}
		}
	}
	tbody 
	{
		td 
		{
			&:first-child 
			{
				padding-left: 20px !important;
			}
		}
	}
}

table {
	thead {
		th {
			padding: 10px !important;
			color: #767676;
		}
	}
	tbody {
		tr {
			td {
				// border: 1px solid #ddd;
				line-height: 1.42857143;
				vertical-align: middle;
				padding: 10px !important;
				color: #767676;
				font-size: 14px;
				white-space: nowrap;
			}
			th {
				// border: 1px solid #ddd;
				line-height: 1.42857143;
				vertical-align: middle;
				padding: 10px !important;
				color: #767676;
				font-size: 14px;
				white-space: nowrap;
			}
		}
	}
	
	.table>:not(:first-child) {
		border-top: 1px solid currentColor;
	}
	.imgfirstLetr {
		display: inline-block;
		background-color: #c3c3c3;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		color: #fff;
		box-shadow: inherit;
		font-size: 18px;
		padding: 6px 6px;
		margin: 0 auto;
		text-align: center;
		vertical-align: middle;
	}
	.imgFirstLetMain {
		span {
			display: inline-block;
			vertical-align: inherit;
		}
	}
	.btn-outline-light {
		color: #212529;
		border-color: #d3d3d3;
		&:hover {
			color: #212529;
			background-color: #f8f9fa;
			border-color: #999;
		}
	}
	.indicator {
		background: #5db239;
		border-radius: 50%;
		display: block;
		height: 8px;
		width: 8px;
		padding: 1px;
		position: absolute;
		bottom: 5px;
		top: inherit;
		right: -3px;
		text-align: center;
		transition: top 0.1s ease-out;
		font-size: 0.675rem;
		color: #ffffff;
	}
	.actionLink {
		svg {
			width: 25px;
			height: 25px;
			path {
				fill: #f56735;
			}
		}
		padding: 5px;
	}
}
table.border-0 {
	tbody {
		tr {
			td {
				border: inherit;
				span {
					font-size: 14px;
				}
			}
			th {
				border: inherit;
			}
		}
	}
}
.table {
	 
		&:not(:first-child) {
			border-top: inherit;
		}
	
}
@media (max-width: 991px) {
	table {
		tbody {
			tr {
				td {
					white-space: nowrap;
				}
				th {
					white-space: nowrap;
				}
			}
		}
	}
}
