/* ---------------------- */
/* .otherProfImg {
    height: 32px;
    width: 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transform: translateZ(0);
} */
/**** dark theme start ****/
/**** dark theme ends ****/
.top-menu-links{
	text-decoration: none;
	color: #F56735;
  }
nav.topNav {
	position: fixed;
	z-index: 99;
	left: 160px;
	right: 0;
	top: 0;
	margin-top: 0 !important;
	background: #fff;
}
.navbar {
	font-weight: 300;
	background: #fff;
	transition: background 0.25s ease;
	-webkit-transition: background 0.25s ease;
	-moz-transition: background 0.25s ease;
	-ms-transition: background 0.25s ease;
	border-bottom: 1px solid #e1e5eb;
	.navbar-brand-wrapper {
		transition: width 0.25s ease, background 0.25s ease;
		-webkit-transition: width 0.25s ease, background 0.25s ease;
		-moz-transition: width 0.25s ease, background 0.25s ease;
		-ms-transition: width 0.25s ease, background 0.25s ease;
		background: #fff;
		width: 230px;
		height: 70px;
		.navbar-brand {
			margin-right: 0;
			margin-left: 15px;
		}
		.navbar-brand.brand-logo-mini {
			display: none;
		}
	}
	.navbar-menu-wrapper {
		transition: width 0.25s ease;
		-webkit-transition: width 0.25s ease;
		-moz-transition: width 0.25s ease;
		-ms-transition: width 0.25s ease;
		color: #9c9fa6;
		padding-left: 15px;
		padding-right: 15px;
		width: calc(100% - 260px);
		height: 70px;
	}
	.navbar-brand-wrapper.darkmode {
		background: #000000;
	}
	.navbar-menu-wrapper.darkmode {
		background: #000000;
	}
}
.fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}
.fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	top: 0;
}
.navbar-brand-wrapper {
	i.fal {
		font-size: 19px;
		cursor: pointer;
	}
}
.menubarMain {
	svg {
		path {
			color: #444;
		}
	}
	border-radius: 50%;
	display: inline-block;
	margin: 0;
	padding: 4px 7px;
	overflow: hidden;
	vertical-align: middle;
	cursor: pointer;
	height: 32px;
	width: 32px;
	-webkit-user-select: none;
	flex: 0 0 auto;
	&:hover {
		background-color: rgba(60, 64, 67, 0.08);
		outline: none;
	}
}
.navbar.fixed-top {
	+ {
		.page-body-wrapper {
			padding-top: 70px;
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.page-body-wrapper {
	min-height: calc(100vh - 70px);
	padding-top: 70px;
	display: flex;
	flex-direction: row;
	padding-left: 0;
	padding-right: 0;
}
.topNavListing {
	.nav-link {
		padding: 0;
	}
	.dropdown-toggle {
		&::after {
			display: none !important;
		}
	}
	.dropdown-menu {
		min-width: 328px !important;
		position: absolute !important;
		padding: 0;
		-webkit-box-shadow: 0 2px 10px #00000033;
		box-shadow: 0 2px 10px #00000033;
		border: 1px solid #ccc;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		.dropdown-item {
			text-align: left;
			padding: 10px 15px;
		}
	}
	.hoverBg {
		.dropdown-menu {
			min-width: 200px !important;
			border-radius: 5px;
		}
	}
	.topnavOptions.hoverBg {
		.dropdown-menu {
			min-width: 300px !important;
			padding: 15px 15px;
		}
	}
	.hoverBg.topnavSetting {
		.dropdown-menu {
			min-width: 260px !important;
		}
	}
}

.content-wrapper {
	width: 100%;
	flex-grow: 1;
	padding: 10px;
	border-radius: 10px;
}
.nav-profile-img {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	border: 1px solid #ddd;
}
.nav-profile-name {
	vertical-align: middle;
	padding: 0 5px;
	text-transform: capitalize;
	margin-right: 10px;
}
ul.topNavListing {
	padding-top: 13px;
}
.navArrow {
	box-sizing: border-box;
	height: 8px;
	width: 8px;
	border-style: solid;
	border-color: #333;
	border-width: 0px 2px 2px 0px;
	transform: rotate(45deg);
	transition: border-width 150ms ease-in-out;
	position: absolute;
	top: 12px;
	right: 2px;
}
.serchFieldMain {
	padding-top: 12px;
	input.form-control {
		padding-left: 40px;
		border-radius: 8px;
		background: #f1f3f4;
		border: 1px solid transparent;
		height: 46px;
		color: #333333;
		width: 100%;
		padding-top: 2px;
	}
	svg {
		position: absolute;
		top: 26px;
		left: 14px;
	}
	svg.searchRightSvg {
		right: 28px;
		left: inherit;
		top: 23px;
		opacity: 0.4;
		cursor: pointer;
	}
	i {
		position: absolute;
		top: 27px;
		left: 15px;
		color: #333333;
		font-weight: 600;
	}
}
.form-control {
	&:focus {
		box-shadow: inherit !important;
	}
}
.imgfirstLetr {
	display: inline-block;
	background-color: #f56735;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	color: #fff;
	box-shadow: inset 0px 3px 6px #ffffff30, 0px 3px 6px #00000029;
	font-size: 18px;
	padding: 6px 6px;
	margin: 0 auto;
	text-align: center;
}
.bgGreyLetr.imgfirstLetr
{
    background-color: #c3c3c3;
	box-shadow: inherit;
}
.imgfirstLetrDropdwnTogle {
	padding: 4px !important;
	border-radius: 50% !important;
}
.nav-link.dropdown-toggle.imgfirstLetrDropdwnTogle[aria-expanded="true"] {
	background-color: #5f63681f;
	border-radius: 50%;
	padding: 4px;
	width: 40px;
	height: 40px;
}
.nav-link.dropdown-toggle.imgfirstLetrDropdwnTogle {
	&:hover[aria-expanded="true"] {
		background-color: #5f63681f;
		border-radius: 50%;
		padding: 4px;
		width: 40px;
		height: 40px;
	}
}
.profInfo
{
	.defultImgFirsLetr {
		vertical-align: top;
		height: 70px;
		width: 70px;
		font-size: 40px;
		padding: 10px;
		margin-bottom: 10px;
	}
	h5 
	{
		font-weight: 600;
		font-size: 18px;
		line-height: normal;
	}
}

.singleProfDetail {
	border-bottom: 1px solid #f2f2f2;
	padding: 15px 0;
	&:last-child {
		border-bottom: none;
	}
}
.addUserIcon {
	width: 32px;
	height: 32px;
	svg {
		width: 32px;
		height: 32px;
	}
}
.anothrAcount {
	margin-top: 10px;
}
.dpdwnProfDetail {
	h6 {
		font-weight: 400;
	}
}
.singleProfDetail.acountList {
	padding: 0;
	h6 {
		font-weight: 500;
    font-size: 15px;
	}
	p {
		font-size: 12px;
		font-weight: 400;
	}
	small {
		font-size: 11px;
		font-weight: 400;
		color: #a7a6a6;
	}
}
.singleProfListng {
	padding: 10px 15px;
	&:hover {
		background-color: #f7f8f8;
	}
}
.signOutAcount {
	a.btn {
		font-size: 14px;
		border: 1px solid #dadce0;
		padding: 10px 24px;
		letter-spacing: 0.15px;
		white-space: normal;
		&:hover {
			background-color: #f7f8f8;
		}
	}
}
.hoverBg {
	padding: 4px 10px 0 0;
	.dropdown-toggle {
		svg {
			color: #444;
			width: 35px;
			height: 35px;
			padding: 6px;
			border-radius: 40px;
			&:hover {
				background-color: #f2f2f2;
			}
			&:focus {
				background-color: #f2f2f2;
			}
			&:active {
				background-color: #f2f2f2;
			}
			&:hover.darkmode {
				color: black;
			}
			&:focus.darkmode {
				color: black;
			}
			&:active.darkmode {
				color: black;
			}
		}
		&:hover[aria-expanded="true"] {
			svg {
				background-color: #f2f2f2;
			}
		}
		svg.darkmode {
			color: white;
		}
		&:hover[aria-expanded=true] {
			svg.darkmode {
				color: black;
			}
		}
	}
	.dropdown-toggle[aria-expanded="true"] {
		svg {
			background-color: #f2f2f2;
		}
	}
	.dropdown-toggle[aria-expanded=true] {
		svg.darkmode {
			color: black;
		}
	}
}
.singleOption {
	padding: 10px 0;
}
.selectThemepart {
	.form-label {
		font-size: 12px;
		text-transform: uppercase;
		color: #a1a1a1;
		letter-spacing: 1.4px;
		display: block;
		margin-bottom: 15px;
		padding-bottom: 5px;
	}
	.form-check-label {
		margin-left: 5px;
	}
	.feedbckTxt {
		font-size: 12px;
		color: #f56735;
		margin-left: 5px;
	}
	.defaultTheme {
		.form-check-input {
			cursor: pointer;
			border: 2px solid #0c0c0c40;
			position: absolute;
			top: 9px;
		}
		.themePreviewimg {
			top: 6px;
		}
	}
	.themePreviewimg {
		position: absolute;
		top: -6px;
		right: 0;
		border: 1px solid #d2d2d2;
		padding: 3px;
		border-radius: 3px;
	}
}

.navbar.darkmode {
	background: #000000;
}
.menubarMain.darkmode {
	color: white;
}
@media (min-width: 992px) {
	.navbar {
		.navbar-menu-wrapper {
			.topNavListing.topNavListing-right {
				margin-left: auto;
			}
		}
	}
}
@media (max-width: 991px) {
	.defultImgFirsLetr {
		height: 50px;
		width: 50px;
		font-size: 30px;
		padding: 7px;
		margin-bottom: 10px;
	}
	.singleProfDetail {
		h5 {
			font-size: 16px;
		}
		p {
			font-size: 13px;
		}
	}
	.singleProfDetail.acountList {
		h6 {
			font-size: 13px;
		}
	}
	.signOutAcount {
		a.btn {
			font-size: 12px;
		}
	}
}
@media (max-width: 735px) {
	.navbar {
		.searchFieldPart {
			display: none;
		}
	}
}
@media (max-width: 479px) {
	.navbar {
		.topnavHelp {
			display: none;
		}
		.topnavSetting {
			display: none;
		}
		.topnavOptions {
			display: none;
		}
	}
	.topNavListing {
		.dropdown-menu {
			border: none;
		}
	}
	.dpdwnProfDetail {
		position: fixed;
		height: 100%;
		width: 100%;
		background-color: #ffff;
		left: 0;
		border-top: 1px solid #f2f2f2;
		top: 0px;
	}
	.singleProfDetail {
		h5 {
			font-weight: 600;
		}
	}
	.content-wrapper {
		padding: 0;
	}
}
