// text-color
$dark-orange: #F56735;
$light-orange: #ffb100;
$body-txt: #333333;
$gray-color:#8d8d8d;
$dark-gray:#555555;
$black-color: #000000;
$white-color: #ffffff;
$green-color: #5db239;
$red-color: #ff0000;

// background color
$bg-light-blue: #394057;
$bg-dark-blue: #1f3751;
$bg-gray: #F8F8F8;
$bg-gray-hover: #EFEFEF;
$search-bg: #EAEAEA;
$table-row-hover: #f7f7f7;


// Button color
$btn-orange: #F56735;
$btn-orange-hover: #ffb100;
$light-blue-color: rgba(8, 137, 163, 0.9);
$light-blue-bg: rgba(13, 202, 240, 0.1);
$light-yellow-color:rgba(224, 200, 24, 0.9);
$light-yellow-bg: rgba(224, 200, 24, 0.12);
$light-orange-color:rgba(255, 148, 24, 0.9);
$light-orange-bg: rgba(255, 193, 7, 0.1);
$lightRed-btn-color:rgba(222, 57, 45, 0.9);
$lightRed-btn-bg: rgba(244, 194, 193, 0.9);
$blueBtn-color:rgba(40, 127, 212, 0.9);
$blueBtn-bg: rgba(40, 127, 212, 0.22);
$lightOrangeBtn-color:rgba(228, 143, 53, 0.9);
$lightOrangeBtn-bg: rgba(247, 225, 193, 0.9);
$lightGreenBtn-color:rgba(92, 175, 56, 0.9);
$lightGreenBtn-bg: rgba(215, 254, 199, 0.9);
$lightGreyBtn-color:rgba(108, 117, 125, 0.9);
$lightGreyBtn-bg: rgba(108, 117, 125, 0.1);

// Shadow color
$card-shadow: #dedede;
$shadow-color: #000;



